
<div class="row justify-content-between mb-4">
  <div class="col-md-6 col-lg-4 mb-4">
    <div class=" d-flex bg-accent">
      <label class="col-2 col-form-label text-center"> <i class="icon ion-md-search"></i> </label>
      <div class="col-10">
        <input  class="form-control bg-accent"
        #search
        placeholder="Type to search..."
        (keyup)="filter(search.value)">
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 mb-4">
    <div class="dropdown float-end" id="dropdown">
      <div (click)="showOptions( )">
        <span class="dropdown-title bg-accent" >Filter by Region</span>
        <i></i>
      </div>

      <div class="options bg-accent">
        <p  *ngFor="let region of regions"
            (click)="filterRegion(region)"
            class="option">
          {{ region }}
        </p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="hasError" class="alert alert-danger d-flex align-items-center" role="alert">
  <div>
    <strong> <i class="icon ion-md-warning" style="font-size: 20px;"></i> Sorry</strong> Your searched name produced no results, please consider changing it.
  </div>
</div>


<div class="card-container" role="main">

  <div  class="card"
        role="button"
        *ngFor="let country of countries"
        (click)=" countryDetails( country.cioc ) ">
    <div class="card-header">
      <img [src]="country.flags.png" class="card-img-top" alt="Flag for {{country.name.common}}">
    </div>
    <div class="card-body bg-accent">
      <h5 class="card-title fw-bold">{{country.name.common}}</h5>
      <ul>
        <li><span class="fw-bold">Population: </span> {{country.population}}</li>
        <li><span class="fw-bold">Region: </span> {{country.region}}</li>
        <li><span class="fw-bold">Capital: </span> {{country.capital}}</li>
      </ul>
    </div>
  </div>

</div>
