<nav class="navbar bg-accent mb-5 py-4">
    <div class="container">
      <h1>
        <a class="navbar-brand" href="#" >Where in the World</a>
      </h1>

      <div class="navbar-right" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <span class="nav-link theme-toggler" id="dark" (click)="toggleColor(0)"> <i class="icon ion-md-moon"></i> Dark Mode</span>
          <span class="nav-link theme-toggler" id="light" (click)="toggleColor(1)"> <i class="icon ion-md-sunny"></i> Light Mode</span>
        </div>
      </div>
    </div>
  </nav>
